:root {
  font-size: 62.5%;

  --background: rgb(55, 54, 54);
  --bg-opaque: rgba(0, 0, 0, 0.25);
  --background-light: rgb(35, 35, 35);
  --background-dark: rgb(8, 8, 8);

  --text: rgb(235, 236, 243);
  --brand: rgb(255, 10, 10);

  --text-xs: 1.4rem;
  --text-sm: 1.6rem;
  --text-md: 2.0rem;
  --text-lg: 3.4rem;
  --text-xl: 5.4rem;
  --text-2xl: 9.2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background: var(--brand);
  color: var(--background);
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  font-size: var(--text-sm);
}

body {
  color: var(--text);
  background: var(--background);
}
.main{
  border-radius: 5px;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

.section-wrapper {
  position: relative;
  z-index: 10;
  max-width: 1150px;
  margin: auto;
  padding: 9.6rem;
  overflow: hidden;
}
.opening{
  position: relative;
  z-index: 10;
  max-width: 1150px;
  margin: auto;
  padding: 9.6rem;
  overflow: hidden;
  margin: auto;
  height: 300px;
  background:
  linear-gradient(to right, rgb(255, 0, 0) 4px, transparent 4px) 5% 10%,
  linear-gradient(to right, rgb(255, 0, 0) 4px, transparent 4px) 5% 100%,
  linear-gradient(to left, rgb(255, 0, 0) 4px, transparent 4px) 57% 10%,
  linear-gradient(to left, rgb(255, 0, 0) 4px, transparent 4px) 57% 100%,
  linear-gradient(to bottom, rgb(255, 0, 0) 4px, transparent 4px) 5% 10%,
  linear-gradient(to bottom, rgb(255, 0, 0) 4px, transparent 4px) 57% 10%,
  linear-gradient(to top, rgb(255, 0, 0) 4px, transparent 4px) 5% 100%,
  linear-gradient(to top, rgb(249, 0, 0) 4px, transparent 4px) 57% 100%;

background-repeat: no-repeat;
background-size: 20px 20px;;
}

@media (max-width: 800px) {
  .section-wrapper {
    padding: 0 .4rem;
    transform: scale(80%);
    top: -1.5%;
  }
  .main{
    border: none;
    position: relative;
    right: 30px;
  }
  #about{
    top: -5.5%;
  }
  #projects{
    top: -12%;
  }
  #contact{
    top: -17%;
  }
}

.chip {
  font-size: var(--text-xs);
  background: var(--background-light);
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
}
.name{
  color: rgb(187, 186, 186);
  font-size: var(--text-md);
  
}
.projectList li{
  margin-left: 4%;
}


